.fragment-description {
    margin-bottom: 5px;
}

.card-block .form-group {
    width: 95%;
    margin: 5px;
    overflow: visible;
}

.collapse.show{
    background-color: #6eb8f1;
}

.card-header{
    background-color: #c8e4fa;
}

div.row > div {
    padding: 5px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.row button {
    width: 100%;
}

.container {
    margin: 5px;
}

.fragment-collapse-btn,
.fragment-collapse-btn:hover {
    margin-right: 10px;
    text-decoration: none;
}

.fragment-collapse-btn[aria-expanded="true"]::before {
    font-family: 'FontAwesome';
    position: relative;
    content: "\f106";
}

.fragment-collapse-btn[aria-expanded="false"]::before {
    font-family: 'FontAwesome';
    position: relative;
    content: "\f107";
}


.fragment-row-collapsed {
    background: rgb(67, 205, 247);
    border-radius: 10px;
}

.start-input,
.end-input {
    padding: 2px 4px 2px 4px;
    width: 80px;
    display: inline;
    font-size: 0.75em;
}

.fragment-title{
    font-size: 0.75em;
    margin-left: 10px;
}

.start-end-control-panel {
    display: inline;
}

.fragment-play, .fragment-step, .fragment-step-track, .fragment-adjust-end{
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 2px;
}

.btn i.fa-clock-o{
    margin-right: 2px;
}

.modify-end, .modify-start{
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
}

.fragment-delete {
    float: right;
}

.video-id-form{
    width: 200px;
    margin: 100px auto 0 auto;
}

.video-id-form button{
    margin-top: 5px;
    width: 100%;
}

.card-header{
    padding: 6px 10px 6px 10px;
}

#fragmenter-panel{
    /* display: none;     */
}

#add-save-fragment-block{
    margin-bottom: 5px;
}

.vidflex{
    margin: 0 auto;
    width: 480px;
    height: 300px;
    background-color: black;
}

.commit-dropdown{
    display: inline;
}

.commit-dropdown li{
    padding-left: 10px;
}

#authBlock{
    display: none;
    background-color: #6eb8f1;
    width: 100%;
}

#authBlock td{
    padding: 5px;
}

#tokenInput{
    width: 300px;
}

#loginInput{
    width: 200px;
}

#authButton
{
    height: 100%;
}

.playerTd{
    width: 500px;
    height: 300px;
    text-align: left;
    vertical-align: top;
}

.videoListTd{
    width: 100%;
    height: 300px;
    text-align: left;
    vertical-align: top;
    overflow: visible;
}

#logArea{
    width: 100%;
    height: 100%;
    font-size: 1.25em;
}

.videoListTd h2{
    display: inline;
    margin-right: 100px;
}

#videoList{
    padding: 0;    
}

.videoLi{
    list-style: none;
}

#addVideoBtn{
    width: 40px;
    float: left;
    margin-left: 2px;
}

#addVideoBtn i{
    margin-right: 5px;
}

#profileBtn{
    position: absolute;
    top: 1px;
    right: 1px;
}

.my-video-search-block{
    margin-left: 247px;
}

.logAreaBlock{
    width: 100%;
    height: 100%;
}

#prButton{
    width: 250px;
}

.authHint{
    font-size: 0.75em;
}

.turtorial-dropdown{
    float: left;
    width: 200px;
}

.turtorial-dropdown button{
    width: 100%;
}